# for 
# make sure public-key ssh login enabled

[Unit]
Description=SSH Proxy Service
#Wants=network-online.target
#After=network.target
After=syslog.target  network.target network-online.target sshd.service

[Service]
Type=simple
User=user

RemainAfterExit=yes

ExecStart= ssh -f -6 -N -D :2080 user@host  >/dev/null 2>&1

ExecReload=/bin/kill -HUP $MAINPID
#Restart=on-failure

Restart=always 
RestartSec=10s

[Install]
WantedBy=multi-user.target

